---
import Footer from '@/components/widgets/Footer.astro'
import Header from '@/components/widgets/Header.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<slot name='header'>
		<Header />
	</slot>
	<main class='mx-auto max-w-6xl'>
		<slot />
	</main>
	<slot name='footer'>
		<Footer />
	</slot>
</Layout>
